git+git://github.com/Yoshi-E/Python-BEC-RCon@master#bec_rcon
discord==1.0.1
  - discord.py [required: >=1.0.1, installed: 1.2.2]
    - aiohttp [required: >=3.3.0,<3.6.0, installed: 3.5.4]
      - async-timeout [required: >=3.0,<4.0, installed: 3.0.1]
      - attrs [required: >=17.3.0, installed: 19.1.0]
      - chardet [required: >=2.0,<4.0, installed: 3.0.4]
      - idna-ssl [required: >=1.0, installed: 1.1.0]
        - idna [required: >=2.0, installed: 2.6]
      - multidict [required: >=4.0,<5.0, installed: 4.5.2]
      - typing-extensions [required: >=3.6.5, installed: 3.7.2]
      - yarl [required: >=1.0,<2.0, installed: 1.3.0]
        - idna [required: >=2.0, installed: 2.6]
        - multidict [required: >=4.0, installed: 4.5.2]
    - websockets [required: >=6.0,<7.0, installed: 6.0]
exif==0.7.0
  - enum34 [required: Any, installed: 1.1.6]
ffprobe==0.5
geoip2==2.9.0
  - maxminddb [required: >=1.4.0, installed: 1.4.1]
  - requests [required: >=2.9, installed: 2.18.4]
    - certifi [required: >=2017.4.17, installed: 2017.11.5]
    - chardet [required: >=3.0.2,<3.1.0, installed: 3.0.4]
    - idna [required: >=2.5,<2.7, installed: 2.6]
    - urllib3 [required: >=1.21.1,<1.23, installed: 1.22]
hachoir==3.0a5
ipython==7.2.0
  - backcall [required: Any, installed: 0.1.0]
  - colorama [required: Any, installed: 0.4.1]
  - decorator [required: Any, installed: 4.3.0]
  - jedi [required: >=0.10, installed: 0.13.1]
    - parso [required: >=0.3.0, installed: 0.3.1]
  - pickleshare [required: Any, installed: 0.7.5]
  - prompt-toolkit [required: >=2.0.0,<2.1.0, installed: 2.0.7]
    - six [required: >=1.9.0, installed: 1.11.0]
    - wcwidth [required: Any, installed: 0.1.7]
  - pygments [required: Any, installed: 2.2.0]
  - setuptools [required: >=18.5, installed: 41.0.1]
  - traitlets [required: >=4.2, installed: 4.3.2]
    - decorator [required: Any, installed: 4.3.0]
    - ipython-genutils [required: Any, installed: 0.2.0]
    - six [required: Any, installed: 1.11.0]
Keras==2.2.4
  - h5py [required: Any, installed: 2.8.0]
    - numpy [required: >=1.7, installed: 1.15.4]
    - six [required: Any, installed: 1.11.0]
  - keras-applications [required: >=1.0.6, installed: 1.0.6]
    - h5py [required: Any, installed: 2.8.0]
      - numpy [required: >=1.7, installed: 1.15.4]
      - six [required: Any, installed: 1.11.0]
    - numpy [required: >=1.9.1, installed: 1.15.4]
  - keras-preprocessing [required: >=1.0.5, installed: 1.0.5]
    - numpy [required: >=1.9.1, installed: 1.15.4]
    - six [required: >=1.9.0, installed: 1.11.0]
  - numpy [required: >=1.9.1, installed: 1.15.4]
  - pyyaml [required: Any, installed: 3.13]
  - scipy [required: >=0.14, installed: 1.1.0]
    - numpy [required: >=1.8.2, installed: 1.15.4]
  - six [required: >=1.9.0, installed: 1.11.0]
libmagic==1.0
librosa==0.6.2
  - audioread [required: >=2.0.0, installed: 2.1.6]
  - decorator [required: >=3.0.0, installed: 4.3.0]
  - joblib [required: >=0.12, installed: 0.13.0]
  - numba [required: >=0.38.0, installed: 0.41.0]
    - llvmlite [required: >=0.26.0dev0, installed: 0.26.0]
    - numpy [required: Any, installed: 1.15.4]
  - numpy [required: >=1.8.0, installed: 1.15.4]
  - resampy [required: >=0.2.0, installed: 0.2.1]
    - numba [required: >=0.32, installed: 0.41.0]
      - llvmlite [required: >=0.26.0dev0, installed: 0.26.0]
      - numpy [required: Any, installed: 1.15.4]
    - numpy [required: >=1.10, installed: 1.15.4]
    - scipy [required: >=0.13, installed: 1.1.0]
      - numpy [required: >=1.8.2, installed: 1.15.4]
    - six [required: >=1.3, installed: 1.11.0]
  - scikit-learn [required: >=0.14.0,!=0.19.0, installed: 0.20.1]
    - numpy [required: >=1.8.2, installed: 1.15.4]
    - scipy [required: >=0.13.3, installed: 1.1.0]
      - numpy [required: >=1.8.2, installed: 1.15.4]
  - scipy [required: >=0.14.0, installed: 1.1.0]
    - numpy [required: >=1.8.2, installed: 1.15.4]
  - six [required: >=1.3, installed: 1.11.0]
lxml==4.3.4
magickwand==0.2
mp4file==0.2
mutagen==1.42.0
mysql-connector-python==8.0.13
  - protobuf [required: >=3.0.0, installed: 3.6.1]
    - setuptools [required: Any, installed: 41.0.1]
    - six [required: >=1.9, installed: 1.11.0]
np==1.0.2
opencv-python==4.1.0.25
  - numpy [required: >=1.11.3, installed: 1.15.4]
packaging==19.0
  - pyparsing [required: >=2.0.2, installed: 2.3.0]
  - six [required: Any, installed: 1.11.0]
Pillow==6.1.0
pipdeptree==0.13.2
  - pip [required: >=6.0.0, installed: 19.1.1]
polib==1.1.0
prettytable==0.7.2
PyExifTool==0.1
pygeoip==0.3.2
PyInstaller==3.3.1
  - future [required: Any, installed: 0.16.0]
  - macholib [required: >=1.8, installed: 1.9]
    - altgraph [required: >=0.15, installed: 0.15]
  - pefile [required: >=2017.8.1, installed: 2017.11.5]
    - future [required: Any, installed: 0.16.0]
  - pypiwin32 [required: Any, installed: 220]
  - setuptools [required: Any, installed: 41.0.1]
pyqode.core==2.11.0
  - future [required: Any, installed: 0.16.0]
  - pygments [required: Any, installed: 2.2.0]
  - pyqode.qt [required: Any, installed: 2.10.0]
PyQt5==5.10
  - sip [required: >=4.19.4,<4.20, installed: 4.19.7]
pyqt5-tools==5.9.0.1.2
Quamash==0.6.0
seaborn==0.9.0
  - matplotlib [required: >=1.4.3, installed: 3.0.2]
    - cycler [required: >=0.10, installed: 0.10.0]
      - six [required: Any, installed: 1.11.0]
    - kiwisolver [required: >=1.0.1, installed: 1.0.1]
      - setuptools [required: Any, installed: 41.0.1]
    - numpy [required: >=1.10.0, installed: 1.15.4]
    - pyparsing [required: >=2.0.1,!=2.1.6,!=2.1.2,!=2.0.4, installed: 2.3.0]
    - python-dateutil [required: >=2.1, installed: 2.7.5]
      - six [required: >=1.5, installed: 1.11.0]
  - numpy [required: >=1.9.3, installed: 1.15.4]
  - pandas [required: >=0.15.2, installed: 0.24.2]
    - numpy [required: >=1.12.0, installed: 1.15.4]
    - python-dateutil [required: >=2.5.0, installed: 2.7.5]
      - six [required: >=1.5, installed: 1.11.0]
    - pytz [required: >=2011k, installed: 2019.1]
  - scipy [required: >=0.14.0, installed: 1.1.0]
    - numpy [required: >=1.8.2, installed: 1.15.4]
selenium==3.141.0
  - urllib3 [required: Any, installed: 1.22]
sklearn==0.0
  - scikit-learn [required: Any, installed: 0.20.1]
    - numpy [required: >=1.8.2, installed: 1.15.4]
    - scipy [required: >=0.13.3, installed: 1.1.0]
      - numpy [required: >=1.8.2, installed: 1.15.4]
tensorflow==1.12.0
  - absl-py [required: >=0.1.6, installed: 0.6.1]
    - six [required: Any, installed: 1.11.0]
  - astor [required: >=0.6.0, installed: 0.7.1]
  - gast [required: >=0.2.0, installed: 0.2.0]
  - grpcio [required: >=1.8.6, installed: 1.16.1]
    - six [required: >=1.5.2, installed: 1.11.0]
  - keras-applications [required: >=1.0.6, installed: 1.0.6]
    - h5py [required: Any, installed: 2.8.0]
      - numpy [required: >=1.7, installed: 1.15.4]
      - six [required: Any, installed: 1.11.0]
    - numpy [required: >=1.9.1, installed: 1.15.4]
  - keras-preprocessing [required: >=1.0.5, installed: 1.0.5]
    - numpy [required: >=1.9.1, installed: 1.15.4]
    - six [required: >=1.9.0, installed: 1.11.0]
  - numpy [required: >=1.13.3, installed: 1.15.4]
  - protobuf [required: >=3.6.1, installed: 3.6.1]
    - setuptools [required: Any, installed: 41.0.1]
    - six [required: >=1.9, installed: 1.11.0]
  - six [required: >=1.10.0, installed: 1.11.0]
  - tensorboard [required: >=1.12.0,<1.13.0, installed: 1.12.0]
    - grpcio [required: >=1.6.3, installed: 1.16.1]
      - six [required: >=1.5.2, installed: 1.11.0]
    - markdown [required: >=2.6.8, installed: 2.6.10]
    - numpy [required: >=1.12.0, installed: 1.15.4]
    - protobuf [required: >=3.4.0, installed: 3.6.1]
      - setuptools [required: Any, installed: 41.0.1]
      - six [required: >=1.9, installed: 1.11.0]
    - six [required: >=1.10.0, installed: 1.11.0]
    - werkzeug [required: >=0.11.10, installed: 0.13]
    - wheel [required: >=0.26, installed: 0.33.4]
  - termcolor [required: >=1.1.0, installed: 1.1.0]
  - wheel [required: >=0.26, installed: 0.33.4]
tensorflow-tensorboard==0.4.0rc3
  - bleach [required: ==1.5.0, installed: 1.5.0]
    - html5lib [required: >=0.999,<0.99999999,!=0.99999,!=0.9999, installed: 0.9999999]
      - six [required: Any, installed: 1.11.0]
    - six [required: Any, installed: 1.11.0]
  - html5lib [required: ==0.9999999, installed: 0.9999999]
    - six [required: Any, installed: 1.11.0]
  - markdown [required: >=2.6.8, installed: 2.6.10]
  - numpy [required: >=1.12.0, installed: 1.15.4]
  - protobuf [required: >=3.3.0, installed: 3.6.1]
    - setuptools [required: Any, installed: 41.0.1]
    - six [required: >=1.9, installed: 1.11.0]
  - six [required: >=1.10.0, installed: 1.11.0]
  - werkzeug [required: >=0.11.10, installed: 0.13]
  - wheel [required: >=0.26, installed: 0.33.4]
Wave==0.0.2