bec_rcon @ git+https://github.com/Yoshi-E/Python-BEC-RCon@0.1.7
discord>=2.0.0
discord.py>=2.0.0
geoip2>=4.6.0
packaging>=19.0
prettytable>=0.7.2
pygeoip>=0.3.2
psutil>=5.9.1
scipy
numpy
func-timeout
pytest
pytest-timeout
Pillow
matplotlib
